<%= form_for @student, html: { multipart: true } do |f| %>
  <div class="form-group">
    <label>Praktijk examen</label>
    <%= f.number_field :praktijk, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Theorie examen</label>
    <%= f.number_field :theorie, class: "form-control" %>
  </div>
  <hr>
  <div class="form-group">
    <label>Naam</label>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>Telefoon</label>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <label>BSN</label>
    <%= f.text_field :bsn_num, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
