<div class="row">
<div class="col-xs-12 col-md-8">
  <p style="font-weight:600;">Lessen praktijk: <span style="font-weight:400;">€ <%= @a = @lessons.where(paid: true).length * 30 %></span></p>
  <p style="font-weight:600;">Nog te krijgen: <span style="font-weight:400;">€ <%= @lessons.where(paid: nil).length * 30 %></span></p>
  <p style="font-weight:600;">Praktijk betaald: <span style="font-weight:400;">€ <%= @b = @students.sum("praktijk") %></span></p>
  <p style="font-weight:600;">Theorie betaald: <span style="font-weight:400;">€ <%= @c = @students.sum("theorie") %></span></p>
  <hr>
  <p style="font-weight:600;">Totaal: <span style="font-weight:400;">€ <%= @a + @b + @c %></span></p>
</div>
<div class="col-xs-12 col-md-4">
  <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#exampleModal">
    Nieuwe leerling
  </button>
  <button type="button" class="btn btn-block btn-primary" data-toggle="modal" data-target="#tody_les">
    Vandaag lessen
  </button>

  <div class="modal fade" id="tody_les" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Vandaag <%= Time.zone.today %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <% @students.each do |s| %>
            <% s.lessons.each do |ls| %>
              <% if ls.date == Time.zone.today %>
                <%= "#{s.name} les om  #{ls.time.utc.strftime( "%H:%M" )}" %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nieuwe student toevoegen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for Student.new  do |f| %>
      <div class="modal-body">
        <%= f.label :naam %>
        <%= f.text_field :name, class: "form-control" %><br>
        <%= f.label :Telefoon %>
        <%= f.text_field :phone, class: "form-control" %><br>
        <%= f.label :BSN %>
        <%= f.text_field :bsn_num, class: "form-control" %>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Create", class: "btn btn-primary add-pair" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>

<br>
<hr>
<div class="row">
  <table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Naam</th>
      <th>Telefoon</th>
      <th>BSN</th>
      <th>Aantal lessen</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
    <tr>
      <th scope="row"><%= index + 1 %>
        <%= link_to "×", student_path(student), method: :delete, data: {confirm: "Als je student verwijdert, dan verwijder je all bijbehorende lessn" }, class: "close1" %>
      </th>
      <td><%= link_to student.name, student_path(student) %></td>
      <td><%= student.phone %></td>
      <td><%= student.bsn_num %></td>
      <td><%= student.lessons.length %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
