<!DOCTYPE html>
<html>
  <head>
    <title>APro</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://www.fuelcdn.com/fuelux/3.5.0/css/fuelux.min.css" rel="stylesheet"/>
  </head>

  <body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "students/messeges" %>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://www.fuelcdn.com/fuelux/3.4.0/js/fuelux.min.js"></script>
</body>
</html>
